<a href="https://colab.research.google.com/github/gunrtnk/project_data/blob/main/car_data_scraping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# pip install bs4

Requirement already satisfied: bs4 in /usr/local/lib/python3.7/dist-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from bs4) (4.6.3)

In [2]:
# pip install requests

Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (2.23.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests) (2021.10.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests) (1.24.3)

In [3]:
import pandas as pd

In [4]:
import bs4

In [5]:
import requests

In [119]:
page=1
year_list=[]
brand_list=[]
model_list=[]
km_driven_list=[]
price_list=[]
while page <=30:
    url = "https://www.carsome.co.th/buy-car?pageNo=" + str(page)
    res = requests.get(url)
    soup = bs4.BeautifulSoup(res.text)
    for c in soup.find_all('div' ,{'class' : 'mod-card__content'}):
        year_list.append(c.find('div',{'class' : 'mod-card__title__year-brand-model'}).text.split()[0].replace(',',''))
        brand_list.append(c.find('div',{'class' : 'mod-card__title__year-brand-model'}).text.split()[1])
        model_list.append(c.find('div',{'class' : 'mod-card__title__variant-engine'}).text.replace(' ','').replace('\n',''))
        km_driven_list.append(c.find('div',{'class' : 'mod-card__car-other'}).text.split()[0].replace(',',''))
        price_list.append(int(c.find('div',{'class' : 'mod-card__price__total'}).text.split()[0].replace(',','')))
    print('compleat page number',page)
    page +=1
    
car_df=pd.DataFrame([brand_list,model_list,year_list,km_driven_list,price_list]).transpose()
car_df.columns=['brand','model','year','km driven','price']

compleat page number 1
compleat page number 2
compleat page number 3
compleat page number 4
compleat page number 5
compleat page number 6
compleat page number 7
compleat page number 8
compleat page number 9
compleat page number 10
compleat page number 11
compleat page number 12
compleat page number 13
compleat page number 14
compleat page number 15
compleat page number 16
compleat page number 17
compleat page number 18
compleat page number 19
compleat page number 20
compleat page number 21
compleat page number 22
compleat page number 23
compleat page number 24
compleat page number 25
compleat page number 26
compleat page number 27
compleat page number 28
compleat page number 29
compleat page number 30

In [120]:
car_df

          brand                       model  year km driven   price
0        Toyota        YARISSPORTPREMIUM1.2  2020     25670  565000
1    Mitsubishi  MIRAGEGLSLIMITEDEDITION1.2  2019     41578  356000
2    Mitsubishi                MIRAGEGLX1.2  2018     64237  316000
3         Honda               BRIOAMAZEV1.2  2018     81377  356000
4        Toyota                   YARISG1.2  2017     95328  416000
..          ...                         ...   ...       ...     ...
534      Toyota                    VIOSE1.5  2017     44736  414000
535      Toyota               YARISATIVE1.2  2017     45236  414000
536      Toyota                FORTUNERV2.4  2017    159429  964000
537       Honda                   JAZZSV1.5  2014    159872  464000
538      Suzuki                 SWIFTGLX1.2  2013     54701  294000

[539 rows x 5 columns]

In [123]:
car_df.to_csv (r'car_used_dataframe.csv', index = False, header=True)

In [124]:
car_df.to_excel('car_uesd_data.xlsx',engine='openpyxl')

In [9]:
# namecar = soup.find_all('h2' ,{'class' : 'listing__title'})

In [10]:
# pricecar = soup.find('div' ,{'class' : 'listing__price'})

In [11]:
# speccar = soup.find_all('div' ,{'class' : 'listing__specs'})

In [ ]:
# int(pricecar.text.split()[0].replace(',',''))

In [43]:
#car = soup.find('div' ,{'class' : 'mod-card__content'})

In [45]:
#Year_Brand=car.find('div',{'class' : 'mod-card__title__year-brand-model'})

In [76]:
#brand=Year_Brand.text.split()[1]

In [77]:
#brand

'Toyota'

In [70]:
#year=int(Year_Brand.text.split()[0].replace(',',''))

In [71]:
#year

2020

In [48]:
#Model=car.find('div',{'class' : 'mod-card__title__variant-engine'})

In [83]:
#model=Model.text.replace(' ','').replace('\n','')

In [84]:
#model

'YARISSPORTPREMIUM1.2'

In [50]:
#KM=car.find('div',{'class' : 'mod-card__car-other'})

In [68]:
#km_driven=int(KM.text.split()[0].replace(',',''))

In [69]:
#km_driven

25670

In [53]:
#Price=car.find('div',{'class' : 'mod-card__price__total'})

In [61]:
#price_car=int(Price.text.split()[0].replace(',',''))

In [62]:
#price_car

565000

In [ ]:
# brand,model,year,km_driven,price_car

In [87]:
#len(soup.find_all('div' ,{'class' : 'mod-card__content'})) #นับ .find_all

18

In [ ]:
#car_df.set_index('brand')